@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, "IBM Plex Sans Thai", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
